@import '../../../styles/variables';

.canvas-dialog  {
    ::ng-deep {
        button {
            width: 140px;
            height: 40px;
            padding: 8px 12px;
            margin: left auto;
            border-radius: 5px;
            outline: none;
            border: none;
            background-color: $brandYellow;
            color: $brandBlack;
            font-weight: 600;
            letter-spacing: 1px;
            cursor: pointer;
            &:hover {
                color: $brandYellow;
                background-color: $brandBlack;
            }
        }
    }
}
